
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Montserrat');


*{
  margin: 0;
  padding: 0;
}

/**Login CSS**/
.bg{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-image: url("image1.jpg");
  background-size: cover;
  background-attachment: fixed;
  display:table;
}

.loginbox{
  opacity:0.8;
  width: 520px;
  height:400px;
  background-color: white;
  color: black;
  top:50%;
  left:50%;
  position:absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
  font-family: 'Montserrat', sans-serif;
}

.user{
  width: 100px;
  height:100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
      
}

.usericon{

}

h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 45px;
  font-family: 'Lobster Two', cursive;
}

.loginbox p{
  margin: 0;
  padding: 0;
  font-weight:bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.loginbox input[type="text"],input[type="password"]{
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline:none;
  height: 20px;
  font-size: 16px;
}

.loginbox input[type="submit"]{
  border: none;
  outline: none;
  height: 50px;
  background-color: #000066;
  color:#fff;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
    
}

/**Login Footer Section**/
#footer{
  opacity:0.9;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  color: white;   
}
/**End of Login Footer Section**/
/**End of Login CSS**/


/**HOME CSS**/
html, body{
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;	
}

.slulogo{
  width: 100px;
  height: 80px;
  padding:0;
  margin:0;
}
.header-container input[type="submit"]{
  float: right;
  margin-top: 48px;
  font-size: 15px;
  margin-right: 17px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
}

.header-container {
  background-color: #000040;
  width: 100%;
  height: 80px;
  border-bottom: 7px solid  #B8860B;
}


/**Navigation Section**/
nav ul li {
  list-style-type: none;
  display: block;
  border-bottom: 1px solid #CCC;

}

nav a{
  text-decoration: none;
  font-size: 22px;
  line-height: 1.5em;
  padding:15px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
  
nav {
  width:13vw;
  height: 600px;
  background:  #000040;
  padding-top: 20px;

}

nav ul li:hover{
  background: white;
  transition: linear all 0.40s;
  margin-left: 10px;
}

nav ul li a:hover{
  color: black;
}


/**End of Navigation Section**/


.selected{
  background-color:white;

}
.selected a{
  color:black;
}

.color{
  background-color: white;

}
/**END of HOME CSS**/


/**Footer Section**/
footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  background-color: #000040;
  color: white; 
}
/**End of Footer Section**/


/**Schedule page**/
#addsched{
    position: absolute;
    right:100px;
    bottom:100px;
    left: 600px;
    font-size: 1vw;
    margin-right: 17px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
}

#viewpar{
  position: absolute;
    right:570px;
    bottom:100px;
    font-size: 15px;
    margin-right: 17px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;


}
#delsched{
    position: absolute;
    right:380px;
    bottom:100px; 
    font-size: 15px;
    margin-right: 17px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;

}

.save{
   position: absolute;
    right:0;
    left:600px;
    top:250px;

    font-size: 15px;
    margin-right: 17px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;

}

.cancel{
    position: absolute;
    right:0;
    left:700px;
    top:250px;

    font-size: 15px;
    margin-right: 17px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;

}


/* The Modal (background) */

.modal,.modal1,.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}



/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50vw;
}

/* The Close Button */
.close,.close1,.close2{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.close1:hover,.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close2:hover,.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


