@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Lobster+Two|Montserrat');

html, body{
    margin: 0px;
    padding: 0px;
	width: 100%;
	height: 100%;
	background-image: url("image1.jpg");
}

.loginbox{
    width: 320px;
    height:420px;
    background-color: white;
    color: black;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
	font-family: 'Montserrat', sans-serif;
}

.user{
    width: 100px;
    height:100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    
    
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 45px;
	font-family: 'Lobster Two', cursive;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight:bold;
    
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.loginbox input[type="text"],input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline:none;
    height: 20px;
    font-size: 16px;
}

.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 50px;
    background-color: #000066;
    color:#fff;
    border-radius: 20px;
	font-family: 'Montserrat', sans-serif;
    
}
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;  
}

/**HOME CSS**/
.slulogo{
    width: 200px;
    height: 200px;
    padding:0;
    margin:0;
}
